
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Add", " Answers", FormMethod.Post))
{
    <fieldset align="center">
        <legend>添加答案</legend>
        <div align="center">
            <table>
                <tr>
                    <td>答案：</td>
                    <td>
                        <input type="text" name="answer" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <input align="center" type="submit" class="btn btn-default" value="添加" style="margin-top: 20px; color:green;border:1px solid ;" />
    <div id="divContainer">

        <button type="button" class="btn btn-danger">@Html.ActionLink("返回", "Index", "Answers")</button>

    </div>
}

