
    @{
    ViewData["Title"] = "ceshi";
    }
    <body>
            <table class="style1" border=1 cellpadding=0 cellspacing=0 bordercolor="E6E8E5">
                <tr bgcolor="F2F7FB" height="35">
                    <td>
                        时间
                    </td>
                    <td width=15%>
                        星期一
                    </td>
                    <td width=15%>
                        星期二
                    </td>
                    <td width=15%>
                        星期三
                    </td>
                    <td width=15%>
                        星期四
                    </td>
                    <td width=15%>
                        星期五
                    </td>
                    <td width=15%>
                        星期六
                    </td>
                    <td width=15%>
                        星期日
                    </td>
                </tr>
                <tr bgcolor="FFFFFB" height="50">
                    <td width=40px>
                        上午
                    </td>
                    <td>
                        <span id="Label_1_1"><link =0></span>

                    </td>
                    <td>
                        <span id="Label_2_1"></span>

                    </td>
                    <td>
                        <span id="Label_3_1"></span>
                    <td>
                        <span id="Label_4_1"></span>
                    </td>
                    <td>
                        <span id="Label_5_1"></span>
                    </td>
                    <td>
                        <span id="Label_6_1"></span>
                    </td>
                    <td>
                        <span id="Label_7_1"></span>
                    </td>
                </tr>
                <tr bgcolor="FFFFFB" height="50">
                    <td width=40px>
                        中午
                    </td>
                    <td>
                        <span id="Label_1_4"></span>

                    </td>
                    <td>
                        <span id="Label_2_4"></span>

                    </td>
                    <td>
                        <span id="Label_3_4"></span>
                    </td>
                    <td>
                        <span id="Label_4_4"></span>
                    </td>
                    <td>
                        <span id="Label_5_4"></span>
                    </td>
                    <td>
                        <span id="Label_6_4"></span>
                    </td>
                    <td>
                        <span id="Label_7_4"></span>
                    </td>
                </tr>
                <tr bgcolor="F7F6F2" height="50">
                    <td>
                        下午
                    </td>
                    <td>
                        <span id="Label_1_2"></span>
                    </td>
                    <td>
                        <span id="Label_2_2"></span>
                    </td>
                    <td>
                        <span id="Label_3_2"></span>
                    </td>
                    <td>
                        <span id="Label_4_2"></span>
                    </td>
                    <td>
                        <span id="Label_5_2"></span>
                    </td>
                    <td>
                        <span id="Label_6_2"></span>
                    </td>
                    <td>
                        <span id="Label_7_2"></span>
                    </td>
                </tr>
                <tr bgcolor="FFFFFB" height="50">
                    <td>
                        晚上
                    </td>
                    <td>
                        <span id="Label_1_3"></span>
                    </td>
                    <td>
                        <span id="Label_2_3"></span>
                    </td>
                    <td>
                        <span id="Label_3_3"></span>
                    </td>
                    <td>
                        <span id="Label_4_3"></span>
                    </td>
                    <td>
                        <span id="Label_5_3"></span>
                    </td>
                    <td>
                        <span id="Label_6_3"></span>
                    </td>
                    <td>
                        <span id="Label_7_3"></span>
                    </td>
            </table>
    </body>
