
@{
    ViewData["Title"] = "Update";
}
@using (Html.BeginForm("Update", "CourseCategory", FormMethod.Post, new { id = Model.ID }))
{
    <fieldset>
        <legend>修改课程</legend>
        <div>
            <table>
                <tr>
                    <td>课程名：</td>
                    <td>
                        <input type="text" name="ClassScheduleName"value="@Model.ClassScheduleName" />
                        
                    </td>
                </tr>
                <tr>
                    <td>时间：</td>
                    <td>
                        <input type="text" name="Time" value="@Model.Time" /> 
                    </td>
                </tr>

                <tr>
                    <td>地点：</td>
                    <td>
                        <input type="text" name="Site" value="@Model.Site"/>
                    </td>
                </tr>
                @*<tr>
                        <td>老师：</td>
                        <td>
                            <input type="text" name="Teacher" />
                        </td>
                    </tr>
                    <tr>
                        <td>学员：</td>
                        <td>
                            <input type="text" name="Student" />
                        </td>
                    </tr>*@
            </table>
        </div>
    </fieldset>
    <input type="submit" class="btn btn-outline-success" value="修改" style="margin-top: 20px; color:green;border:1px solid ;" />
    <div id="divTrain">
        <button type="button" class="btn btn-danger" onclick="location.href='/CourseCategory/Index'">返回</button>
        @*<button type="button" class="btn btn-danger">@Html.ActionLink("返回", "Index", "CourseCategory")</button>*@
    </div>
}
