@model UserUpdateViveMode
@{
    ViewData["Title"] = "UserUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="UserUpdate" asp-controller="User" method="post">
    <div>
        <div>
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>

    <div>
        <div>
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <button class="btn btn-group" type="submit">提交</button>
</form>