    <div class=" border mb-4 p-0">
        <div class="text-center"
             style="background: url(../../Upload/mybg.jpg) center no-repeat; background-size:cover; height:150px;"></div>
        <div class=" card text-center border-0">
            <div class="position-absolute align-self-center" style="top:-50px;">
                <a href="#">
                    <img class="card-img-top rounded-circle img-thumbnail" src="~/Upload/tx.jpg"
                         style="width:100px; height:100px;" alt="Card image cap">
                </a>
            </div>
            <div class="card-body mt-5">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                </p>
            </div>
        </div>
    </div>
    <div class=" border mb-4">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                我的课程
            </p>
            <p class="card-text">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                猿问
            </p>
            <p class="card-text">
                <i class="fa fa-bell" aria-hidden="true"></i>
                手记
            </p>
            <p class="card-text">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
                专栏
            </p>
        </div>
    </div>