@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    @*---------左侧导航栏页面--------------*@
<link href="~/css/left_nav-style.css" rel="stylesheet" />

<div class="banner_y center">
    <div style="" class="nav">
        <ul>
            <li>
                <a href="">技术部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a href="">物控部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="">采购部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="">财务部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="">销售业务部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="">企划部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="">技术工程部</a>
                <div class="pop">
                    <div class="left fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="ctn fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>

                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"></div>
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="right fl">
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <div class="img fl"><img src="./image/mimobile.jpg" alt=""></div>
                                    <span class="fl">6</span>
                                    <div class="clear"></div>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="xuangou_left fl">
                                <a href="">
                                    <span class="fl">6</span>
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
