@{
    ViewData["Title"] = "BackEnd";
}
<body>
    <div class="nav-scroller py-1 mb-2 alert alert-secondary" role="alert">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted"  asp-area="" asp-controller="Curriculum" asp-action="index">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">全部</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="Front">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">前端开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="BackEnd">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;" class="but btn-link">后端开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">移动开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">云计算/大数据</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">运维/测试</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">数据库</font>
                </font>
            </a>


            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">UI设计/多媒体</font>
                </font>
            </a>
        </nav>

    </div>
    <div>
        <div class="abc-1">
            <button type="button" class="btn btn-warning btn-sm">不限</button> &nbsp;&nbsp;


            <button type="button" class="btn btn-light btn-sm">Java</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Python</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">PHP</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Go</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">C</button> &nbsp;&nbsp;          @*后端开发*@
            <button type="button" class="btn btn-light btn-sm">C++</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">C#</button> &nbsp;&nbsp;

            
            <hr />
        </div>

    </div>
</body>
