
@{
    ViewData["Title"] = "Index";
}
<body>
    <div class="nav-scroller py-1 mb-2 alert alert-secondary" role="alert">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" asp-area="" asp-controller="Curriculum" asp-action="index">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">全部</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="Curriculum/Front">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">前端开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="Curriculum/BackEnd">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">后端开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">移动开发</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">云计算/大数据</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">运维/测试</font>
                </font>
            </a>

            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">数据库</font>
                </font>
            </a>


            <a class="p-2 text-muted" href="#">
                <font style="vertical-align:inherit;">
                    <font style="vertical-align:inherit;">UI设计/多媒体</font>
                </font>
            </a>
        </nav>

    </div>
    <div>
        <div class="abc-1">
            <button type="button" class="btn btn-warning btn-sm">不限</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">HTML/CSS</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">JavaScript</button> &nbsp;&nbsp;  @*前端开发*@
            <button type="button" class="btn btn-light btn-sm">React.JS</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Vue.js</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Node.js</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">jQuery</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">前端工具</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">Java</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Python</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">PHP</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Go</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">C</button> &nbsp;&nbsp;          @*后端开发*@
            <button type="button" class="btn btn-light btn-sm">C++</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">C#</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">Android</button> &nbsp;&nbsp;     @*移动开发*@
            <button type="button" class="btn btn-light btn-sm">iOS</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">云计算</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">大数据</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Spark</button> &nbsp;&nbsp;       @*云计算 大数据*@
            <button type="button" class="btn btn-light btn-sm">阿里云</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Docker</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">运维</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">自动化运维</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">Linux</button> &nbsp;&nbsp;        @*运维测试*@
            <button type="button" class="btn btn-light btn-sm">测试</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">自动化测试</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">MySQL</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">SQL Server</button> &nbsp;&nbsp;    @*数据库*@
            <button type="button" class="btn btn-light btn-sm">NoSql</button> &nbsp;&nbsp;

            <button type="button" class="btn btn-light btn-sm">模型制作</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">动效动画</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-light btn-sm">设计基础</button> &nbsp;&nbsp;     @*UI设计多媒体*@
            <button type="button" class="btn btn-light btn-sm">APPUI设计</button> &nbsp;&nbsp;
            <hr />
        </div>

    </div>
</body>
