@using EmployeeTrainingEntity;
@model EmployeeTrainingEntity.TrainRequest
@{
    ViewData["Title"] = "Insert";
}
<html>
<head>

 
</head>
<body>
    <h1>添加培训申请</h1>
    @using (Html.BeginForm("Insert", "Train", FormMethod.Post))
    {
        <table>
            <tr>
                <td>姓名:</td>
                <td>
                    <input type="text" class="form-control" placeholder="请输入姓名" name="Person">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>时间:</td>
                <td><input type="datetime" class="form-control" placeholder="XXXX/XX/XX" name="Time"></td>
            </tr>
            <tr>
                <td> 部门:</td>
                <td>
                    <select name="DePartmentName.ID" class="form-control">
                        @foreach (var item in ViewBag.DepartmentName)
                        {
                            <option value="@item.ID">@item.DepartmentName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td> 培训课程:</td>
                <td>
                    <select name="ClassScheduleName.ID" class="form-control">
                        @foreach (var item in ViewBag.ClassScheduleName)
                        {
                        <option value="@item.ID">@item.ClassScheduleName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>申请内容：</td>
                <td><input type="text" class="form-control" placeholder="请输入申请的内容" name="ApplicationContent"></td>
            </tr>
            <tr>
                <td>状态:</td>
                <td>
                    <select asp-items="Html.GetEnumSelectList<State>()" asp-for="State" class="form-control">@*下拉框获取枚举并赋值*@

                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="添加" />
                    <input type="reset" name="取消" />
                </td>
            </tr>
        </table>
    }
</body>
</html>